@{
  Layout = "_Layout";
}

<h1>Welcome to Kharbranth's Library</h1>

<p>@Html.ActionLink("See all books", "Index", "Books")</p>
<p>@Html.ActionLink("See all authors", "Index", "Authors")</p>
<p>@Html.ActionLink("See genres", "Index", "Genres") WIP</p>
<p>@Html.ActionLink("Accounts", "Index", "Account")</p>